* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.ant-pagination {
    margin-bottom: 0 !important;
}
